body {
  background-color: #1E1E1E;
  color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.button {
  background-color: #fb606f;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}